In [24]:
import pandas as pd

data = pd.read_csv('data/nyc_data.csv')
data

,time_of_call,vic_age_group,vic_race,vic_sex,suspect_race,suspect_sex,precinct,borough,location_of_occurrence,premises,offence_description
0,09:15:00,25-44,WHITE,F,WHITE,M,123.0,STATEN ISLAND,INSIDE,RESIDENCE-HOUSE,CRIMINAL MISCHIEF & RELATED OF
1,13:04:00,NaN,NaN,D,NaN,NaN,1.0,MANHATTAN,INSIDE,CHAIN STORE,PETIT LARCENY
2,08:15:00,NaN,NaN,E,WHITE,M,18.0,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,OTHER OFFENSES RELATED TO THEF
3,21:10:00,NaN,NaN,E,WHITE,M,61.0,BROOKLYN,FRONT OF,NaN,DANGEROUS DRUGS
4,21:50:00,25-44,NaN,F,NaN,U,71.0,BROOKLYN,INSIDE,RESIDENCE - APT. HOUSE,HARRASSMENT 2
...,...,...,...,...,...,...,...,...,...,...,...
8914833,12:00:00,NaN,NaN,F,BLACK,M,14.0,MANHATTAN,FRONT OF,STREET,HARRASSMENT 2
8914834,17:00:00,NaN,NaN,D,NaN,NaN,19.0,MANHATTAN,INSIDE,RESIDENCE - APT. HOUSE,BURGLARY
8914835,00:30:00,25-44,ASIAN / PACIFIC ISLANDER,F,NaN,NaN,107.0,QUEENS,NaN,STREET,PETIT LARCENY
8914836,20:35:00,18-24,BLACK,F,BLACK,M,42.0,BRONX,INSIDE,FOOD SUPERMARKET,ASSAULT 3 & RELATED OFFENSES
8914837,17:50:00,45-64,WHITE,F,NaN,M,40.0,BRONX,OPPOSITE OF,STREET,VEHICLE AND TRAFFIC LAWS

In [25]:
sample = data.iloc[:500]
sample

,time_of_call,vic_age_group,vic_race,vic_sex,suspect_race,suspect_sex,precinct,borough,location_of_occurrence,premises,offence_description
0,09:15:00,25-44,WHITE,F,WHITE,M,123.0,STATEN ISLAND,INSIDE,RESIDENCE-HOUSE,CRIMINAL MISCHIEF & RELATED OF
1,13:04:00,NaN,NaN,D,NaN,NaN,1.0,MANHATTAN,INSIDE,CHAIN STORE,PETIT LARCENY
2,08:15:00,NaN,NaN,E,WHITE,M,18.0,MANHATTAN,NaN,TRANSIT - NYC SUBWAY,OTHER OFFENSES RELATED TO THEF
3,21:10:00,NaN,NaN,E,WHITE,M,61.0,BROOKLYN,FRONT OF,NaN,DANGEROUS DRUGS
4,21:50:00,25-44,NaN,F,NaN,U,71.0,BROOKLYN,INSIDE,RESIDENCE - APT. HOUSE,HARRASSMENT 2
...,...,...,...,...,...,...,...,...,...,...,...
495,12:00:00,18-24,ASIAN / PACIFIC ISLANDER,M,NaN,NaN,103.0,QUEENS,INSIDE,OTHER,PETIT LARCENY
496,19:10:00,25-44,BLACK,F,BLACK,M,121.0,STATEN ISLAND,FRONT OF,RESIDENCE-HOUSE,MISCELLANEOUS PENAL LAW
497,00:01:00,NaN,NaN,D,NaN,NaN,52.0,BRONX,INSIDE,TRANSIT FACILITY (OTHER),CRIMINAL MISCHIEF & RELATED OF
498,12:00:00,45-64,WHITE HISPANIC,M,NaN,NaN,52.0,BRONX,FRONT OF,STREET,PETIT LARCENY
499,14:00:00,65+,WHITE,F,NaN,M,77.0,BROOKLYN,INSIDE,PUBLIC SCHOOL,MISCELLANEOUS PENAL LAW

In [26]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler


def convert_time_to_minutes(row):
    try:
        temp = row.split(':')
        return int(temp[0])*60 + int(temp[1])
    except ValueError:
        return None

sample.loc[:, 'time_of_call'] = sample.time_of_call.apply(convert_time_to_minutes)

time_normalizer = MinMaxScaler().fit(sample[['time_of_call']])
sample.loc[:, 'time_of_call'] = time_normalizer.transform(sample[['time_of_call']])


vic_age_encoder = LabelEncoder().fit(sample.vic_age_group)
sample.loc[:, 'vic_age_group'] = vic_age_encoder.transform(sample.vic_age_group)

vic_race_encoder = LabelEncoder().fit(sample.vic_race)
sample.loc[:, 'vic_race'] = vic_race_encoder.transform(sample.vic_race)

vic_sex_encoder = LabelEncoder().fit(sample.vic_sex)
sample.loc[:, 'vic_sex'] = vic_sex_encoder.transform(sample.vic_sex)

suspect_race_encoder = LabelEncoder().fit(sample.suspect_race)
sample.loc[:, 'suspect_race'] = suspect_race_encoder.transform(sample.suspect_race)

suspect_sex_encoder = LabelEncoder().fit(sample.suspect_sex)
sample.loc[:, 'suspect_sex'] = suspect_sex_encoder.transform(sample.suspect_sex)

precinct_encoder = LabelEncoder().fit(sample.precinct)
sample.loc[:, 'precinct'] = precinct_encoder.transform(sample.precinct)

borough_encoder = LabelEncoder().fit(sample.borough)
sample.loc[:, 'borough'] = borough_encoder.transform(sample.borough)

location_of_occurrence_encoder = LabelEncoder().fit(sample.location_of_occurrence)
sample.loc[:, 'location_of_occurrence'] = location_of_occurrence_encoder.transform(sample.location_of_occurrence)

premises_encoder = LabelEncoder().fit(sample.premises)
sample.loc[:, 'premises'] = premises_encoder.transform(sample.premises)

offence_description_encoder = LabelEncoder().fit(sample.offence_description)
sample.loc[:, 'offence_description'] = offence_description_encoder.transform(sample.offence_description)

sample

,time_of_call,vic_age_group,vic_race,vic_sex,suspect_race,suspect_sex,precinct,borough,location_of_occurrence,premises,offence_description
0,0.386221,1,4,2,4,1,75.0,4,1,27,3
1,0.545581,5,6,0,6,3,0.0,2,1,5,21
2,0.344468,5,6,1,4,1,9.0,2,4,34,20
3,0.883786,5,6,1,4,1,34.0,1,0,36,5
4,0.911621,1,6,2,6,2,42.0,1,1,25,12
...,...,...,...,...,...,...,...,...,...,...,...
495,0.501044,0,1,4,6,3,59.0,3,1,19,21
496,0.800278,1,2,2,2,1,73.0,4,0,27,14
497,0.000696,5,6,0,6,3,32.0,0,1,35,3
498,0.501044,2,5,4,6,3,32.0,0,0,32,21
499,0.584551,3,4,2,6,1,47.0,1,1,24,14